@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "./_custom-bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  @include slabFont;
}

h1 {
  font-size: 18px;
}

.btn {
  @include slabFont;

}

.font-slab {
  @include slabFont;
}

.font-sans {
  font-family: var(--bs-body-font-family);
}
