@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "./_custom-bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "vue-toastification";
@import "typography";

html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
}

.btn {
  @include slabFont;

}