.Vue-Toastification__toast {
  width: 95%!important;
  margin: 10px auto 0!important;
  border-radius: 5px!important;
  padding: 10px 15px!important;
  min-height: 20px!important;
}

.Vue-Toastification__toast-body {
  font-size: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-enter-active {
  animation-name: fadeIn;
  animation-duration: 350ms;
  animation-fill-mode: both;
}
.fade-leave-active {
  animation-name: fadeOut;
  animation-duration: 350ms;
  animation-fill-mode: both;
}
.fade-move {
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 300ms;
}